<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /phplessons/part5/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

</IfModule>

